html, body {
  height: 100vh;
  background-color: #B0920E;
}

.boton, .boton2{
  width: 50px;
  height:50px;
  margin: 2.5px;
  background:grey;
  color:white;
  font-size:16px;
}
.verde{
  
  background:green ;
}

.cuadro {
  padding: 5px;
  background:black;
  display: table;
  margin: 0 auto;
}
.none{
  display: none;
}

.alturatotal{
  padding-top:20%;
  height: 100vh;
  background-color: #B0920E;
  background-image: url("../img/2246.png");
  overflow: hidden;
  background-repeat: no-repeat;
}
.cont {
 
  width:80%;
  margin:0 auto;

}

.box-container {
  width:100%;
}

.icon-box {
  width:22%;
  display: inline;
  float: left;
  background:red;
  margin: 1%;
  
}


.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.socio{
  width: 720px;
  height: 1550px;
  background-color: green;
}




