
#loading {
  background: url('../img/gif-splash.gif') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}
@font-face{
  font-family: Obelixpro;
  src: url("../obelixpro/ObelixPro-cyr.ttf");
}


h1{
  font-family: Obelixpro;
  font-size:250%;
  color: white;
}
h2{
  font-family: Obelixpro;
  font-size: 150%;
  color: white;
}
p{
  font-family: Obelixpro;
  font-size: 100%;
  color: white;
  text-align: center
}



html, body {
  height: 100vh;
  background-color: #eae486;
}

.boton, .boton2{
  width: 50px;
  height:50px;
  margin: 2.5px;
  background:grey;
  color:white;
  font-size:16px;
}
.verde{
  
  background:green ;
}

.cuadro {
  padding: 5px;
  background:black;
  display: table;
  margin: 0 auto;
}
.none{
  display: none;
}

.alturatotal1{
  
 
  width: 100%;
  height: 100vh;
  background-image: url("../img/inicio.png");
  background-repeat: no-repeat;
}
.alturatotal{
  width: 100%;
  height: 100vh;
  background-image: url("../img/400x700.png");
  background-repeat: no-repeat;
}
.cont {
 
  width: 70%;
  height: 40%;
  margin:auto;
}
.cont1{
  width: 90%;
  height: 90%;
  margin:auto;
}
.cont-up-down{
  padding-top: 10%;
  width: 80%;
  height: 30%;
  margin:auto;
}
.boton-centrado{
  
  display: table;
  margin: 0 auto;
  color: white;
  background-image: url("../img/tablero.png");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10% 10% 10% 0;
}
.padding2{
  padding: 5%;
}
.centrar{
  display: table;
  margin: 0 auto;
}

.box-container {
  width:100%;
  margin:auto;
}

.icon-box {
  width:22%;
  display: inline;
  float: left;
  margin: 1.3%;

}
.icon-box2{
  width:17%;
  display: inline;
  float: left;
  margin: 1.3%;
  text-align: center;
  color: white;
}

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.barra{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25% 0 0 0;
}

.reduce{
  width: 50%;
  
}
.reduce img{
  width: 20%;
  float: right;
}
.puntaje{
  width:50%;
  display: inline;
  float: left;

}
.puntaje-max{
  width: 50%;
}

.sisi:hover{
  -webkit-transition: width 2s;
  width: 30%;
  height: 30%;
}

.pantallaconfig{
  padding-top: 10%;
  height: 100%;
  padding-bottom: 40%;
}

.tit{
  margin: 0;
  padding: 10%; 
}
.margen{
  margin-top:120%;
}
.margen2{
  margin-top:10%;
}
.margen3{
  padding-top: 125%;
}
.margen4{
  padding-top: 50%;
}
.margen5{
  padding-top: 210%;
  color: black;
}
.tamaño-boton{
  width: 100%;
  height: auto;
 
}

.ancho{
  width: 35%;
}
.box-inicio{
  width: 50%;
  padding-top: 15%;
}
.box-ini{
  width: 9%;
  padding-top: 5%;
  margin-right: 5%;
  float: right;
}

.anchoganaste{
  width: 100%;
  padding: 10% 20% 0 5%;
}
.anchoperdiste {
  width: 100%;
  padding: 10% 20% 0 10%;
}
.fotoganaste{
  margin-bottom: 5%;
}
.fotoperdiste {
  margin-bottom: 50%;
}



